<div class="layout">
  <mat-card class="example-card">
    <mat-card-header *ngIf="showProgressBar === false">
      <mat-card-title>Send Verification Request</mat-card-title>
      <mat-card-subtitle>
        Enter Email to Send Identity Verification Request
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-header *ngIf="showProgressBar === true && showSuccess === false">
      <mat-card-title>Awaiting Identity Verification</mat-card-title>
      <mat-card-subtitle>
        Awaiting Identity Verification from Recepient
      </mat-card-subtitle>
    </mat-card-header>

    <mat-progress-bar
      mode="indeterminate"
      *ngIf="showProgressBar === true && showSuccess === false">
    </mat-progress-bar>

    <div style="display: flex; flex-flow: column nowrap; justify-content: center; width: 100%;">
      <qrcode
        [qrdata]="responseCode"
        [width]="400"
        [errorCorrectionLevel]="'H'"
        *ngIf="showQRCode === true && showSuccess === false">
      </qrcode>
    </div>

    <mat-card-content *ngIf="hideForm === false && showSuccess === false">
      <p *ngIf="error" style="color: red; font-weight: 500;">{{ error }}</p>
      <mat-form-field
        class="example-form-field"
        appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput type="text" [(ngModel)]="email" (focus)="clearError()">
        <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()">
        Send Verification Request
      </button>
    </mat-card-content>

    <mat-card-content *ngIf="hideForm === true && showSuccess === true">
      <div class="success__layout">
        <div class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
        </div>
        <h4>Verification Successful!</h4>
      </div>
    </mat-card-content>

  </mat-card>
</div>
